# Data Science Tools and Ecosystem

**Objectives:**
- List of Popular Langugages Used in Data Science
- List of Commonly Used Libraries in Data Science
- List of Commonly Used Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Malani Soosai